* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.1;
  list-style: none;
}

body {
  font-family: "Kaisei Opti", serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

h2,
h3,
h4 {
  font-weight: 200;
}

h1 {
  text-align: center;
}

section {
  margin: 10rem auto;
}

.section-container {
  max-width: 103.75rem;
}

.copyright {
  font-size: 0.8rem !important;
}

h2 {
  color: #8d6876;
  font-size: 5.625rem;
  text-align: center;
}

h3.italic {
  color: #c07958;
  font-size: 3.5rem;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

h3 {
  color: #8d6876;
  font-size: 3.8rem;
  text-align: center;
}

h2.italic {
  font-size: 4rem;
  color: #c07958;
}

.italic {
  font-family: "Dancing Script", cursive;
}

h4 {
  color: white;
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
  text-align: center;
  font-weight: 200;
  line-height: 1.4;
}

p.picture-by {
  top: 0;
  position: absolute;
  font-size: 0.8rem;
  color: white;
  padding-left: 0.7rem;
  padding-top: 0.7rem;
}

p {
  color: #584149;
  font-size: 1.3rem;
  text-align: center;
  max-width: 30ch;
  line-height: 1.4;
}

p,
a,
button {
  font-size: 1.3rem;
}

a {
  letter-spacing: 0.1rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
}

a:before {
  content: "";
  background: #c9b6bd;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-position: 0;
}

a:hover::before {
  width: 100%;
}

button:not(.hamburger),
button:not(.hamburger):focus {
  border: 1px solid transparent;
  border-radius: 1.6rem;
  padding: 0.75em 1.4em;
  color: white;
  display: inline-block;
  margin-top: 1.5rem;
  transition-duration: 0.15s;
}

button:hover,
input[type=button]:hover {
  cursor: pointer;
  scale: 1.04;
}

button:active {
  outline: none;
  z-index: 99999;
  scale: 1.1;
}

.image-container {
  overflow: hidden;
}

.animated-element {
  width: 100%;
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.left {
  transform: translateX(-100%);
}

.right {
  transform: translateX(100%);
}

.appear {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 7vw;
}

.italic {
  font-style: italic;
  margin-bottom: 2.5rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.btn-primary {
  background-color: #81cdfe;
}

.btn-secondary {
  background-color: #8d6876;
}

.btn-third {
  background-color: #c07958;
}

section.hero {
  position: relative;
  margin: 0;
}
section.hero .nav-container nav {
  position: absolute;
  width: 100%;
  margin-top: 2.5rem;
  z-index: 10000;
}
section.hero .nav-container nav ul {
  margin-right: 3rem;
  display: flex;
  justify-content: right;
  gap: 3rem;
}
section.hero .nav-container nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.93rem;
  transition: all ease-in-out 0.25s;
  font-size: 1.5rem;
}
section.hero .nav-container nav ul li a:hover {
  color: rgb(210, 210, 210);
}
section.hero .hero__bg {
  position: relative;
  background-image: url(images/pexels-pixabay-417173.webp);
  height: calc(32rem + 40vw);
  width: 100%;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top -10rem;
}
section.hero .hero__bg h1 {
  position: absolute;
  color: white;
  font-size: calc(8vw + 1rem);
  top: 37%;
  width: 100%;
  height: 100%;
  text-align: center;
}
section.hero .nav {
  position: absolute;
  background-color: #fff;
  transform: translateX(-100%);
}
section.hero nav.close {
  transform: translateX(100%) !important;
  position: absolute;
  top: 0;
  right: 0;
}
section.hero nav {
  transform: unset;
  position: absolute;
  top: 0;
  right: 0;
}

section.exploration {
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-auto-flow: dense;
  width: 100%;
  gap: 5vw;
  text-align: center;
  margin-bottom: 10rem;
  margin-top: 0;
  padding-inline: 2.5rem;
}
section.exploration img {
  scale: 0.9;
}
section.exploration .card {
  display: grid;
  max-width: 630px;
  text-align: center;
}
section.exploration .card h3 {
  margin: auto;
  margin-bottom: -1rem;
}
section.exploration .card h4.italic {
  margin: auto;
  color: #c07958;
  margin-bottom: 1.5rem;
  font-size: 2.7rem;
}
section.exploration .card p {
  margin: auto;
  margin-bottom: 2.5rem;
  max-width: 45ch;
}
section.exploration .card button {
  margin: auto;
}

section.offerings {
  text-align: center;
  margin: 0 auto 10rem auto;
  justify-content: center;
  color: #c9b6bd;
}
section.offerings .flex-item h4 {
  color: #8d6876;
}
section.offerings .flex-item img {
  margin-bottom: 2.5rem;
}
section.offerings .flex-item p {
  color: #8d6876;
  max-width: 23ch !important;
  margin-bottom: 1.5rem;
}
section.offerings .flex-item a {
  color: #c07958;
}
section.offerings .flex-item a:hover {
  color: #8d6876;
}

section.full-width-img {
  position: relative;
}
section.full-width-img img {
  height: 45rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.subscribe {
  background-image: url(images/pexels-federico-tomasoni-11855042.webp);
  position: relative;
  height: 65rem;
  width: 100%;
  background-size: cover;
  padding-top: 7rem;
  background-position: center top;
  background-repeat: no-repeat;
  padding-inline: 0.7rem;
}
section.subscribe .subscribe__holder {
  display: grid;
  place-content: center;
  height: 100%;
}
section.subscribe .subscribe__holder h2 {
  color: white;
  margin-bottom: 1.5rem;
}
section.subscribe .subscribe__holder h4 {
  max-width: 45ch;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
}
section.subscribe .subscribe__holder .buttons {
  justify-content: center;
}

section.book-trip {
  text-align: center;
  margin: auto;
  justify-content: center;
}
section.book-trip h2:not(.italic) {
  margin-bottom: -0.4rem;
}
section.book-trip .flex {
  justify-content: center;
}
section.book-trip .flex .flex-item {
  max-width: 30ch;
}
section.book-trip .flex .flex-item h4 {
  color: #8d6876;
  white-space: nowrap;
}
section.book-trip .flex .flex-item p {
  color: #8d6876;
}

section.experience {
  position: relative;
  gap: 5vw;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-auto-flow: dense;
  padding-inline: 2.5rem;
}
section.experience .card {
  display: grid;
  max-width: 630px;
  text-align: center;
}
section.experience .card h3 {
  margin: auto;
  margin-bottom: -0.7rem;
}
section.experience .card h4.italic {
  margin: auto;
  color: #c07958;
  margin-bottom: 1.5rem;
  font-size: 2.7rem;
}
section.experience .card p {
  margin: auto;
  margin-bottom: 2.5rem;
  max-width: 45ch;
}
section.experience .card button {
  margin: auto;
}

section.pre-footer {
  height: 61.5rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top -34.375rem;
  background-size: cover;
  background-color: #7070ff;
  background-image: url(images/pexels-drift-shutterbug-2085998.webp);
  background-blend-mode: multiply;
  margin-bottom: 0;
}

section.footer {
  background-color: #0d0f18;
  margin-bottom: 0;
  margin-top: 0;
}
section.footer .footer-inner-container {
  max-width: 120rem;
  margin-inline: auto;
  padding: 3.5vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  gap: 3rem;
}
section.footer h4,
section.footer h3,
section.footer a,
section.footer p {
  color: white;
  text-align: left;
  display: block;
}
section.footer a:hover {
  color: rgb(210, 210, 210);
}
section.footer h3 {
  margin-bottom: 1.3rem;
}
section.footer h4 {
  font-size: 1.4rem;
}
section.footer a,
section.footer p {
  font-size: 1rem;
}
section.footer .legal p {
  margin-bottom: 0.3rem;
}
section.footer .social a,
section.footer .social p {
  margin-bottom: 0.5rem;
}
section.footer .navigate p,
section.footer .navigate a {
  margin-bottom: 1.3rem;
}
section.footer .company-name {
  font-size: 2.4rem;
  display: block;
}
section.footer .footer__container__item.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.7rem;
  width: -moz-fit-content;
  width: fit-content;
}
section.footer .flex-item.social {
  margin-top: 1rem;
}
section.footer .flex-item.social .footer__container__item .social-icon {
  width: 1.7em;
  height: 1.7em;
  -o-object-fit: cover;
     object-fit: cover;
}
section.footer .flex-item.social .footer__container__item .social-icon:hover {
  opacity: 0.8;
}
section.footer .flex-item.social .footer__container__item p,
section.footer .flex-item.social .footer__container__item a {
  margin-top: 0.4rem;
}
section.footer .flex-item.social .footer__container__item p:hover,
section.footer .flex-item.social .footer__container__item a:hover {
  color: rgb(210, 210, 210);
}
section.footer .flex-item.navigate {
  margin-top: 1rem;
}

@media only screen and (max-width: 145.125em) {
  section.pre-footer {
    height: 55.25rem;
    background-position: 0;
  }
}
@media only screen and (max-width: 116.25em) {
  section.pre-footer {
    background-position: center top 0rem;
  }
  section.subscribe {
    background-position: center;
  }
  section.experience .experience__texts {
    margin-top: 0;
  }
}
@media only screen and (max-width: 31.25em) {
  .book-trip h2 {
    font-size: 3.6rem;
  }
}
@media only screen and (max-width: 50em) {
  h1 {
    font-size: calc(13vw + 1rem) !important;
  }
  h2 {
    font-size: 3.3rem !important;
  }
  h4 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 87.5em) {
  section.footer .footer-inner-container {
    grid-template-columns: 1fr 1fr !important;
  }
}
.hamburger {
  display: none;
}

.menu ul a {
  display: block;
}

@media only screen and (max-width: 62.5em) {
  .hamburger {
    display: block;
    position: absolute;
    right: 3rem;
    background-color: unset;
    color: white;
    border: none;
    z-index: 99999;
    margin-top: 2rem;
    font-size: 3.5rem;
  }
  .menu {
    transform: translateX(0);
    transition: transform 0.5s ease;
  }
  .menu ul a {
    display: inline-block;
  }
  .menu ul {
    display: flex;
    flex-direction: column !important;
    text-align: right;
    background-color: rgba(129, 205, 254, 0.9);
    position: absolute;
    top: -3rem;
    right: -3rem;
    padding: 3rem;
    border-radius: 0 0.5rem 0 0.5rem;
    padding-top: 9rem;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
  }
  body section.footer .footer-inner-container {
    grid-template-columns: 1fr !important;
  }
}/*# sourceMappingURL=style.css.map */