* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.1;
    list-style: none;
}

$ff-primary: 'Kaisei Opti', serif;
$italic: 'Dancing Script', cursive;

$clr-primary: #81cdfe;
$clr-secondary: #c9b6bd;
$clr-third: #e0bdad;
$clr-secondary-strong: #8d6876;
$clr-third-strong: #c07958;
$clr-dark: #584149;
$clg-pre-footer: #7070ff;
$clg-footer: #0d0f18;

$space-100: 0.7rem;
$space-200: 1.5rem;
$space-300: 2.5rem;
$space-400: 3rem;
$space-500-vw: 3.5vw;
$space-500: 10rem;

$section-container: 103.75rem;
$footer-container: 120rem;

body {
    font-family: $ff-primary;
    overflow-x: hidden;
}
img {
    max-width: 100%;
}
h2,
h3,
h4 {
    font-weight: 200;
}

h1 {
    text-align: center;
}
section {
    margin: $space-500 auto;
}

.section-container {
    max-width: $section-container;
}
.copyright {
    font-size: 0.8rem !important;
}

h2 {
    color: $clr-secondary-strong;
    font-size: 5.625rem;
    text-align: center;
}
h3.italic {
    color: $clr-third-strong;
    font-size: 3.5rem;
    text-align: center;
    font-family: $italic;
}
h3 {
    color: $clr-secondary-strong;
    font-size: 3.8rem;
    text-align: center;
}
h2.italic {
    font-size: 4rem;
    color: $clr-third-strong;
}
.italic {
    font-family: $italic;
}
h4 {
    color: white;
    margin-bottom: $space-200;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 200;
    line-height: 1.4;
}
p.picture-by {
    top: 0;
    position: absolute;
    font-size: 0.8rem;
    color: white;
    padding-left: $space-100;
    padding-top: $space-100;
}
p {
    color: $clr-dark;
    font-size: 1.3rem;
    text-align: center;
    max-width: 30ch;
    line-height: 1.4;
}

p,
a,
button {
    font-size: 1.3rem;
}
// link hover
a {
    letter-spacing: 0.1rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
    width: fit-content;
}
a:before {
    content: '';
    background: $clr-secondary;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

a:hover {
    background-position: 0;
}

a:hover::before {
    width: 100%;
}

button:not(.hamburger),
button:not(.hamburger):focus {
    border: 1px solid transparent;
    border-radius: 1.6rem;
    padding: 0.75em 1.4em;
    color: white;
    display: inline-block;
    margin-top: $space-200;
    transition-duration: 0.15s;
}

button:hover,
input[type='button']:hover {
    cursor: pointer;
    scale: 1.04;
}

button:active {
    outline: none;
    z-index: 99999;
    scale: 1.1;
}
// Animations - Appear from left or right
.image-container {
    overflow: hidden;
}

.animated-element {
    width: 100%;
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.left {
    transform: translateX(-100%);
}

.right {
    transform: translateX(100%);
}
//

// Animation appear
.appear {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 7vw;
}

.italic {
    font-style: italic;
    margin-bottom: $space-300;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.btn-primary {
    background-color: $clr-primary;
}
.btn-secondary {
    background-color: $clr-secondary-strong;
}
.btn-third {
    background-color: $clr-third-strong;
}

////////// HERO
section.hero {
    position: relative;
    margin: 0;
    .nav-container nav {
        position: absolute;
        width: 100%;
        margin-top: $space-300;
        z-index: 10000;
        ul {
            margin-right: $space-400;
            display: flex;
            justify-content: right;
            gap: $space-400;
            li {
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 1.93rem;
                    transition: all ease-in-out 0.25s;
                    font-size: 1.5rem;
                    &:hover {
                        color: rgb(210, 210, 210);
                    }
                }
            }
        }
    }

    .hero__bg {
        position: relative;
        background-image: url(images/pexels-pixabay-417173.webp);
        height: calc(32rem + 40vw);
        width: 100%;
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top -10rem;
        h1 {
            position: absolute;
            color: white;
            font-size: calc(8vw + 1rem);
            top: 37%;
            width: 100%;
            height: 100%;
            text-align: center;
        }
    }

    .nav {
        position: absolute;
        background-color: #fff;
        transform: translateX(-100%);
    }

    nav.close {
        transform: translateX(100%) !important;
        position: absolute;
        top: 0;
        right: 0;
    }
    nav {
        transform: unset;
        position: absolute;
        top: 0;
        right: 0;
    }
}
////////// Exploration
section.exploration {
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-auto-flow: dense;
    width: 100%;
    gap: 5vw;
    text-align: center;
    margin-bottom: $space-500;
    margin-top: 0;
    padding-inline: $space-300;
    img {
        scale: 0.9;
    }
    .card {
        display: grid;
        max-width: 630px;
        text-align: center;
        h3 {
            margin: auto;
            margin-bottom: -1rem;
        }
        h4.italic {
            margin: auto;
            color: $clr-third-strong;
            margin-bottom: $space-200;
            font-size: 2.7rem;
        }
        p {
            margin: auto;
            margin-bottom: $space-300;
            max-width: 45ch;
        }
        button {
            margin: auto;
        }
    }
}

////////// Offerings
section.offerings {
    text-align: center;
    margin: 0 auto $space-500 auto;
    justify-content: center;
    color: $clr-secondary;
    .flex-item {
        h4 {
            color: $clr-secondary-strong;
        }
        img {
            margin-bottom: $space-300;
        }
        p {
            color: $clr-secondary-strong;
            max-width: 23ch !important;
            margin-bottom: $space-200;
        }
        a {
            color: $clr-third-strong;
            &:hover {
                color: $clr-secondary-strong;
            }
        }
    }
}
////////// Full-width-img
section.full-width-img {
    position: relative;
    img {
        height: 45rem;
        width: 100%;
        object-fit: cover;
    }
}
////////// Subscribe
section.subscribe {
    background-image: url(images/pexels-federico-tomasoni-11855042.webp);
    position: relative;
    height: 65rem;
    width: 100%;
    background-size: cover;
    padding-top: 7rem;
    background-position: center top;
    background-repeat: no-repeat;
    padding-inline: $space-100;
    .subscribe__holder {
        display: grid;
        place-content: center;
        height: 100%;
        h2 {
            color: white;
            margin-bottom: $space-200;
        }
        h4 {
            max-width: 45ch;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.5rem;
        }
        .buttons {
            justify-content: center;
        }
    }
}
////////// Book-trip
section.book-trip {
    text-align: center;
    margin: auto;
    justify-content: center;
    h2:not(.italic) {
        margin-bottom: -0.4rem;
    }
    .flex {
        justify-content: center;
        .flex-item {
            max-width: 30ch;
            h4 {
                color: $clr-secondary-strong;
                white-space: nowrap;
            }
            p {
                color: $clr-secondary-strong;
            }
        }
    }
}
////////// Experience
section.experience {
    position: relative;
    gap: 5vw;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-auto-flow: dense;
    padding-inline: $space-300;
    .card {
        display: grid;
        max-width: 630px;
        text-align: center;
        h3 {
            margin: auto;
            margin-bottom: -0.7rem;
        }
        h4.italic {
            margin: auto;
            color: $clr-third-strong;
            margin-bottom: $space-200;
            font-size: 2.7rem;
        }
        p {
            margin: auto;
            margin-bottom: $space-300;
            max-width: 45ch;
        }
        button {
            margin: auto;
        }
    }
}
////////// Pre-footer
section.pre-footer {
    height: 61.5rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top -34.375rem;
    background-size: cover;
    background-color: $clg-pre-footer;
    background-image: url(images/pexels-drift-shutterbug-2085998.webp);
    background-blend-mode: multiply;
    margin-bottom: 0;
}

////////// Footer
section.footer {
    background-color: $clg-footer;
    margin-bottom: 0;
    margin-top: 0;
    .footer-inner-container {
        max-width: $footer-container;
        margin-inline: auto;
        padding: $space-500-vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: left;
        gap: $space-400;
    }
    h4,
    h3,
    a,
    p {
        color: white;
        text-align: left;
        display: block;
    }
    a:hover {
        color: rgb(210, 210, 210);
    }
    h3 {
        margin-bottom: 1.3rem;
    }
    h4 {
        font-size: 1.4rem;
    }
    a,
    p {
        font-size: 1rem;
    }
    .legal p {
        margin-bottom: 0.3rem;
    }
    .social a,
    .social p {
        margin-bottom: 0.3rem;
    }
    .navigate p,
    .navigate a {
        margin-bottom: 0.7rem;
    }
    .company-name {
        font-size: 2.4rem;
        display: block;
    }
    .footer__container__item.flex {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: $space-100;
        width: fit-content;
    }
    .flex-item.social {
        margin-top: 1rem;
        .footer__container__item {
            .social-icon {
                width: 1.7em;
                height: 1.7em;
                object-fit: cover;
                &:hover {
                    opacity: 0.8;
                }
            }
            p,
            a {
                margin-top: 0.4rem;
                &:hover {
                    color: rgb(210, 210, 210);
                }
            }
        }
    }
    .flex-item.navigate {
        margin-top: 1rem;
    }
}

///////////Media queries
@media only screen and (max-width: 145.125em) {
    section.pre-footer {
        height: 55.25rem;
        background-position: 0;
    }
}

@media only screen and (max-width: 116.25em) {
    section.pre-footer {
        background-position: center top 0rem;
    }
    section.subscribe {
        background-position: center;
    }
    section.experience .experience__texts {
        margin-top: 0;
    }
}

@media only screen and (max-width: 31.25em) {
    .book-trip h2 {
        font-size: 3.6rem;
    }
}
@media only screen and (max-width: 50em) {
    h1 {
        font-size: calc(13vw + 1rem) !important;
    }
    h2 {
        font-size: 3.3rem !important;
    }
    h4 {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 87.5em) {
    section.footer .footer-inner-container {
        grid-template-columns: 1fr 1fr !important;
    }
}

////////Menu
.hamburger {
    display: none;
}

.menu ul a {
    display: block;
}

@media only screen and (max-width: 62.5em) {
    .hamburger {
        display: block;
        position: absolute;
        right: $space-400;
        background-color: unset;
        color: white;
        border: none;
        z-index: 99999;
        margin-top: 2rem;
        font-size: 3.5rem;
    }
    .menu {
        transform: translateX(0);
        transition: transform 0.5s ease;
    }
    .menu ul a {
        display: inline-block;
    }
    .menu ul {
        display: flex;
        flex-direction: column !important;
        text-align: right;
        background-color: rgba($color: #81cdfe, $alpha: 0.9);
        position: absolute;
        top: -3rem;
        right: -3rem;
        padding: 3rem;
        border-radius: 0 0.5rem 0 0.5rem;
        padding-top: 9rem;
        backdrop-filter: blur(3px);
    }
    body section.footer .footer-inner-container {
        grid-template-columns: 1fr !important;
    }
}
